body{
    background-color:purple;
}
p{
font-family: monospace;
text-align: center;
color: lightpink
}
h1,h2,h3,h4,h5,h6 {
    font-familiy: veranda, geneva, tahoma, sans-serif;
    color: lightyellow;
    font-style: itallic;
    text-align: right;

}